* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #eeeef5;
  i {
    cursor: pointer;
  }
}

.container {
  margin-left: 50px;
  width: 800px;
  .title {
    margin-top: 30px;
    .border {
      padding-top: 25px;
      width: 100px;
      border-bottom: solid #5544ec 3px;
    }
  }
  .content {
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    border-bottom: solid #5544ec 3px;
    .inputAdd {
      padding-left: 25px;
      padding-right: 25px;
      display: flex;
      align-items: center;
      justify-content:space-between;
      input {
        width: 100%;
        border: none;
        outline: none;
        margin: 20px 0;
        margin-right: 30px;
        font-size: 25px;
        &:focus {
          background-color: #f8f8f8;
        }
      }
      i {
        color: #5544ec;
        font-size: 25px;
      }
    }
    .tag {
      border-bottom: solid #dedeec 1px;
      border-top: solid #dedeec 1px;
      display: flex;
      padding: 10px 0;
      padding-left: 25px;
      font-weight: bold;
      li {
        list-style: none;
      }
      .item {
        padding: 0px 10px 0 5px;
        display: flex;
        align-items: center;
        margin-left: 10px;
        cursor: pointer;
        .radio {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          margin-right: 10px;
        }
        .all {
          background-color: #f9da58;
        }
        .home {
          background-color: #55a6f8;
        }
        .work {
          background-color: #7dfa69;
        }
        .school {
          background-color: #f4fe60;
        }
      }
      .item-tags {
        color: #9b9ba5;
      }
      .is-active {
        border: solid 2px #f9da58;
        border-radius: 40px;
      }
    }
    .list-work {
      padding-left: 25px;
      padding-right: 25px;
      li {
        padding: 15px 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .work {
          label {
            padding-left: 20px;
          }
          .completed {
            text-decoration: line-through;
            color: #cccccc;
          }
          .doing {
            color: violet;
          }
        }
        .delete-work {
          i {
            color: #dedeec;
            font-size: 20px;
          }
        }
      }
    }
    .task {
      box-sizing: border-box;
      padding: 10px 0px;
      padding-left: 25px;
      padding-right: 60px;
      display: flex;
      justify-content: space-between;
      span {
        display: flex;
        li {
          margin-right: 15px;
          list-style: none;
          .btn-task {
            font-weight: bold;
            padding: 10px 20px;
            background-color: #ffffff;
            border: solid 1px #eeeef5;
            border-radius: 40px;
            outline: none;
            cursor: pointer;
          }
          .focus {
            background-color: #eeeef5;
          }
        }
      }

      .job-performance {
        color: #cccccc;
        padding-top: 5px;
      }
    }
  }
}
